<footer>
  <div class="container">
    <div class="row" style="padding-top: 30px;">
      <div class="col-lg-3 col-md-6">
        <div class="foot-col-1">
          <h1>Форсаж</h1>
          <h5><strong>мото-веломагазин</strong></h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="foot-col-2">
          <h5>Товары</h5>
          <hr>
          <ul>
            <li><a href="#">Мопеды</a></li>
            <li><a href="#">Скутеры</a></li>
            <li><a href="#">Квадроциклы</a></li>
            <li><a href="#">Питбайки</a></li>
            <li><a href="#">Кроссовая техника</a></li>
            <li><a href="#">Велосипеды</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="foot-col-3">
          <h5>Контакты</h5>
          <hr>
          <ul>
            <li>г. Бахчисарай,</li>
            <li>ул Македонского 11</li>
            <li>+7 (978) 7273060</li>
            <li>+7 (978) 7273070</li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="foot-col-4">
          <h5>Мы в соцсетях</h5>
          <hr>
          <a href="https://vk.com/id548255700"><i class="fab fa-vk"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>