<section class="shop-specification">
    <div class="container" style="padding: 0%;">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <div class="product-specifications">
                    <h4>Технические характеристики</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Объем двигателя</td>
                                <td>{{ product.engine_capacity }} л</td>
                            </tr>
                            <tr>
                                <td>Система охлаждения</td>
                                <td>{{ product.cooling_system }}</td>
                            </tr>
                            <tr>
                                <td>Топливо</td>
                                <td>{{ product.fuel }}</td>
                            </tr>
                            <tr>
                                <td>Расход топлива</td>
                                <td>{{ product.fuel_consumption }}</td>
                            </tr>
                            <tr>
                                <td>Трансмиссия</td>
                                <td>{{ product.transmission }}</td>
                            </tr>
                            <tr>
                                <td>Система запуска</td>
                                <td>{{ product.launch_system }}</td>
                            </tr>
                            <tr>
                                <td>Передние тормоза</td>
                                <td>{{ product.front_brakes }}</td>
                            </tr>
                            <tr>
                                <td>Задние тормоза</td>
                                <td>{{ product.rear_brakes }}</td>
                            </tr>
                            <tr>
                                <td>Переднее колесо</td>
                                <td>{{ product.front_wheel }}</td>
                            </tr>
                            <tr>
                                <td>Заднее колесо</td>
                                <td>{{ product.rear_wheel }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
